body{
    background: linear-gradient(to right, #FF5F6D, #FFC371);
    height: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

button{
    width: 300px;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: -3px 4px rgb(0, 0, 0);
}

.clicked{
    margin-top: 2px;
    box-shadow: none;
}

span{
    font-weight: 200;
}

#numbers{
    width: 70%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

.footer{
    width: 90%;
    position: absolute;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

hr{
    border-color: black;
    border-style: dashed;
    width: 100%;
}

.social{
    margin-top: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 80px;
}